.user-profile {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 1px solid #eaeaea;
}

.user-profile:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.user-profile .MuiAvatar-circular {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

.user-info {
  text-decoration: none;
}
.user-info h2 {
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  padding: 5px 10px 0 10px;
}

.user-info p {
  font-size: 12px;
  text-decoration: none;
  margin: 0  0  0 10px;
  padding: 5px;
  word-wrap:break-word;
}

.user-info p>span {
  position: absolute;
  right: 0;
  margin-right: 20px;
}
